{% extends 'base.html.twig' %}


{% block title %} 
    Tableau Controller
{% endblock %}

{% block body %}
// tableau 
{% set a=1%}
{% set b=2%}
{% set c=3%}
{% set d=4%}
{% set e=5%}

{% set add=a+b+c+d+e%}
{% set sou=a-b-c-d-e%}
{% set mul=a*b*c*d*e%}
{% set div=a/b/c/d/e%}
{% set pui=a**b**c**d**e%}



    <table>
    <tr>    <td>addition</td> <td>soustraction</td> <td>multiplication</td> <td>division</td> <td>puissanse</td>
</tr>
    <tr> 
    <td>{{a}}</td> <td>{{b}}</td> <td>{{c}}</td> <td>{{d}}</td> <td>{{e}}</td>
    </tr>
    <tr>     <td>{{add}}</td> <td>{{sou}}</td> <td>{{mul}}</td> <td>{{div}}</td> <td>{{pui}}</td>
    </tr> 
     </table>
{% endblock %}
