{% extends 'base.html.twig' %}


{% block title %} 
    Location Controller
{% endblock %}

{% block body %}
        <h1> page show </h1>
     {{ Location.id }} <br>
     {{ Location.date| date("d/m/Y")  }} <br>
     {{ Location.titre }} <br>
     {{ Location.categorie }} <br>         
     {{ Location.image }} <br>
     {{ Location.description }} <br>
     {{ Location.valeur }} <br>
     {{ Location.adresse }} <br>
     {{ Location.accessibility }} <br>
     {{ Location.statuts }} <br>
     {{ Location.alaune }} <br>

        <a href="{{ path('locationindex') }}"> Les locations </a>    

{% endblock %}
