{% extends 'base.html.twig' %}


{% block body %}

{% block title %}Index Utilisateurs{% endblock %}
{% include 'AdminMenu.html.twig' %}

    <h1>Utilisateurs index</h1>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>Photo</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
        {# https://twig.symfony.com/doc/3.x/tags/for.html #}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.photo }}</td>

                {# <td>{{ utilisateur.datedenaissance| date("d/m/Y")  }}</td> #}
                
                <td> <a href="{{ path('affichageUtilisateur', {'id':utilisateur.id}) }}"> Afficher </a> </td>
                <td> <a href="{{ path('nouvelutilisateur', {'id':utilisateur.id}) }}"> Nouveau </a> </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

