{% extends 'base.html.twig' %}


{% block title %} 
    Utilisateurs Controller
{% endblock %}

{% block body %}
        <h1> page new utilisateur </h1>
     {{ utilisateurs.id }}
     {{ utilisateurs.Nom }}
     {{ utilisateurs.Resume }}          
     {{ utilisateurs.Datedenaissance| date("d/m/Y")  }}
     {{ utilisateurs.Photo }}          
           
     <a href="{{ path('indexUtilisateur2') }}"> Gestion des utilisateurs </a>  

{% endblock %}
