{% extends 'base.html.twig' %}


{% block title %} 
    Utilisateurs Controller
{% endblock %}

{% block body %}
        <h1> page show </h1>
     {{ utilisateurs.id }}
     {{ utilisateurs.nom }}
     {{ utilisateurs.prenom }}          
     {{ utilisateurs.photo }}          
     {{ utilisateurs.login }}
     {{ utilisateurs.pass }}          
     {{ utilisateurs.email }}          
     {{ utilisateurs.adresse }}
     {{ utilisateurs.role }}

{% endblock %}
