{% extends 'base.html.twig' %}


{% block body %}

{% block title %}Index Categorie{% endblock %}
    <h1>Categorie index</h1>
{% include 'AdminMenu.html.twig' %}

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>resumé</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for categories in categorie %}
        {# https://twig.symfony.com/doc/3.x/tags/for.html #}
            <tr>
                <td>{{ categories.id }}</td>
                <td>{{ categories.Titre }}</td>
                <td>{{ categories.Resume }}</td>
                <td> <a href="{{ path('categorie_nouveau', {'id':categories.id}) }}"> Nouveaux </a> </td>
                <td> <a href="{{ path('nouvelcategorie', {'id':categories.id}) }}"> form Nouveelle categorie </a> </td>
                <td> <a href="{{ path('affichageCategorie', {'id':categories.id}) }}"> Afficher </a> </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

