{% extends 'base.html.twig' %}


{% block title %} 
    Article Controller
{% endblock %}

{% block body %}
        <h1> page new </h1>
     {{ articles.id }}
     {{ articles.Titre }}
     {{ articles.Resume }}          
     {{ articles.Date| date("d/m/Y")  }}
     {{ articles.Contenu }}          
           
     <a href="{{ path('articleindex') }}"> Les articles </a>  

{% endblock %}
