{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formArticle) }}

{{ form_start(formArticle) }}
Titre : {{ form_widget(formArticle.titre) }}<br>
Resumé: {{ form_widget(formArticle.resume) }} <br>
Contenu: {{ form_widget(formArticle.contenu) }} <br>
Image: {{ form_widget(formArticle.image) }} <br>
Date Creation : {{ form_widget(formArticle.date) }} <br>
  <button type="submit" class="btn btn-success">envoyer</button>

      
    {{ form_end(formArticle) }}

    <a href="{{ path('articleindex') }}"> Les articles </a>  

{% endblock %}

