{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

{{ form_start(form) }}
Titre : {{ form_widget(form.titre) }}<br>
Resumé: {{ form_widget(form.resume) }} <br>
Contenu: {{ form_widget(form.contenu) }} <br>
Image: {{ form_widget(form.image) }} <br>
Date Creation : {{ form_widget(form.date) }} <br>
  <button type="submit" class="btn btn-success">envoyer</button>

      
    {{ form_end(form) }}

    <a href="{{ path('articleindex') }}"> Les articles </a>  

{% endblock %}

