{% extends 'base.html.twig' %}


{% block title %} 
    Article Controller
{% endblock %}

{% block body %}
        <h1> page show </h1>
     {{ articles.id }} <br>
     {{ articles.Titre }} <br>
     {{ articles.Resume }} <br>      
     {{ articles.Date| date("d/m/Y") <br>  }}
     {{ articles.Contenu }} <br>         

     <a href="{{ path('articleindex') }}"> Les articles </a>  

{% endblock %}
